# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [3]:
!python3.10 -V

Python 3.10.0

# 1.3 Trabalhando com dados

In [17]:
import pandas as pd
# pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 1000)

In [18]:
dataset = pd.read_csv('./data/db.csv', sep = ';')

In [19]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49
10,Ford Edge,Motor Diesel V6,2002,12859.0,False,"['Sensor crepuscular', 'Rodas de liga', 'Teto ...",71647.59
11,Courier,Motor Diesel V8,2007,8052.0,False,"['Central multimídia', '4 X 4', 'Piloto automá...",73919.53
12,S-18,Motor V6,2001,89773.0,False,"['Bancos de couro', 'Sensor de chuva', 'Rodas ...",112732.99
13,J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
14,F-Type Coupé,Motor 5.0 V8 Bi-Turbo,2009,41457.0,False,"['Piloto automático', 'Sensor crepuscular', 'S...",127488.42
15,RAM,Motor Diesel V8,2016,115607.0,False,"['Sensor crepuscular', 'Câmbio automático', 'S...",59910.40
16,Série 1,Motor 3.0 32v,2012,46449.0,False,"['Teto panorâmico', 'Câmera de estacionamento'...",61118.59
17,A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
18,XC90,Motor 1.0 8v,2016,37086.0,False,"['Travas elétricas', 'Vidros elétricos', 'Teto...",62696.69
19,RS 3 Sportback,Motor 3.0 32v,2017,15173.0,False,"['4 X 4', 'Piloto automático', 'Central multim...",101726.30
20,Pajero Sport,Motor 1.0 8v,2002,101193.0,False,"['Sensor de estacionamento', 'Piloto automátic...",106147.38
21,Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
22,Lamborghini Obvious,Motor Diesel V6,1994,98079.0,False,"['Rodas de liga', 'Câmbio automático', 'Travas...",133529.84
23,Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
24,Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Freios ABS', 'Câmbio automático', 'Ar condic...",121596.21
25,Up!,Motor Diesel V6,2019,NaN,True,"['Sensor de estacionamento', 'Vidros elétricos...",71367.10
26,Fiesta Rocam Sedan,Motor 4.0 Turbo,2016,5795.0,False,"['Ar condicionado', 'Bancos de couro', 'Câmbio...",95347.75
27,Sandero Stepway,Motor 3.0 32v,2019,NaN,True,"['Freios ABS', 'Ar condicionado', 'Teto panorâ...",105432.84
28,Cayman S,Motor 3.0 32v,2002,58848.0,False,"['Câmbio automático', 'Sensor de estacionament...",57045.27
29,V40,Motor 4.0 Turbo,1991,94381.0,False,"['Câmera de estacionamento', 'Sensor de estaci...",120432.70
30,Classe SLS AMG,Motor 1.0 8v,1997,30163.0,False,"['Sensor de estacionamento', 'Controle de esta...",70707.20
31,Gol G4,Motor 2.0 16v,1995,53332.0,False,"['Sensor crepuscular', '4 X 4', 'Vidros elétri...",69105.18
32,Linea,Motor 1.0 8v,2018,17720.0,False,"['Piloto automático', 'Painel digital', 'Vidro...",59358.69
33,Ford F100,Motor 2.0 16v,1991,33808.0,False,"['Controle de tração', 'Sensor crepuscular', '...",65955.40
34,J2,Motor V8,2014,90684.0,False,"['Teto panorâmico', 'Sensor de estacionamento'...",60017.03
35,Aston Martin DBS,Motor V8,1995,43975.0,False,"['Teto panorâmico', 'Piloto automático', 'Ar c...",118909.52
36,Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59
37,Polo Sedan,Motor V6,2019,NaN,True,"['Sensor de chuva', 'Sensor crepuscular', 'Ar ...",123281.87
38,California,Motor 1.0 8v,2009,5526.0,False,"['Rodas de liga', 'Ar condicionado', 'Câmera d...",69770.18
39,S60,Motor 2.4 Turbo,2019,NaN,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54
40,Tucson,Motor 2.0 16v,2013,93415.0,False,"['Vidros elétricos', 'Sensor crepuscular', 'Fr...",67997.19
41,HB20,Motor V6,2003,40762.0,False,"['Sensor de chuva', 'Travas elétricas', 'Contr...",135235.29
42,Optima,Motor 1.8 16v,2019,NaN,True,"['Central multimídia', 'Ar condicionado', 'Tet...",86641.34
43,Logan,Motor 4.0 Turbo,2002,86302.0,False,"['Câmera de estacionamento', 'Vidros elétricos...",136818.39
44,Range Rover Vogue,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Vidros elétricos', 'Rodas de liga',...",117626.73
45,Sonata,Motor 5.0 V8 Bi-Turbo,2002,9755.0,False,"['Piloto automático', 'Ar condicionado', 'Vidr...",56208.70
46,Ford New Fiesta Sedan,Motor 3.0 32v,2004,69945.0,False,"['Teto panorâmico', 'Painel digital', 'Ar cond...",84222.65
47,Série 5 Gran Turismo,Motor 4.0 Turbo,2001,2395.0,False,"['Controle de tração', 'Piloto automático', 'A...",90781.65
48,CR-V,Motor Diesel V8,2019,NaN,True,"['Câmbio automático', 'Central multimídia', 'V...",64701.10
49,Ford EcoSport,Motor 1.0 8v,2003,80349.0,False,"['Vidros elétricos', 'Piloto automático', 'Pai...",126350.49
50,Versa,Motor 3.0 32v,2009,85554.0,False,"['Bancos de couro', 'Ar condicionado', 'Rodas ...",148152.89
51,Classe E,Motor 1.0 8v,2006,50496.0,False,"['Freios ABS', 'Sensor de estacionamento', 'Ce...",132298.83
52,Carnival,Motor V8,2000,67716.0,False,"['Travas elétricas', 'Câmbio automático', 'Câm...",137627.63
53,Aston Martin V8 Vantage Roadster,Motor 2.4 Turbo,2006,93947.0,False,"['Câmbio automático', 'Câmera de estacionament...",80422.71
54,Hoggar,Motor 5.0 V8 Bi-Turbo,2010,35345.0,False,"['Controle de estabilidade', 'Bancos de couro'...",56373.99
55,A1,Motor 5.0 V8 Bi-Turbo,1994,81007.0,False,"['Painel digital', 'Câmbio automático', 'Câmer...",70846.03
56,Aston Martin DB7 Vantage,Motor V6,2007,119513.0,False,"['Sensor crepuscular', 'Piloto automático', 'T...",128694.23
57,CLA,Motor 1.0 8v,2019,NaN,True,"['Central multimídia', 'Sensor de chuva', 'Con...",133329.19
58,Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43
59,EXTRA 103EX,Motor 2.0 16v,2019,NaN,True,"['Sensor de estacionamento', 'Central multimíd...",112033.27
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
61,Tiggo,Motor 3.0 32v,2019,NaN,True,"['Câmera de estacionamento', 'Freios ABS', 'Pi...",97163.10
62,New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
63,Jeep Renegade,Motor 5.0 V8 Bi-Turbo,2011,48509.0,False,"['Vidros elétricos', 'Teto panorâmico', 'Banco...",128776.22
64,Lamborghini Ankonian,Motor 2.0 16v,2001,100912.0,False,"['Bancos de couro', 'Câmera de estacionamento'...",142623.02
65,Space Cross,Motor 5.0 V8 Bi-Turbo,1996,95649.0,False,"['Teto panorâmico', 'Vidros elétricos', 'Senso...",136930.13
66,Touareg,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Piloto automátic...",66526.61
67,Classe M,Motor 1.0 8v,1994,90495.0,False,"['Central multimídia', 'Bancos de couro', 'Rod...",114154.87
68,Lancer Evolution X,Motor Diesel V6,2019,NaN,True,"['Vidros elétricos', 'Câmbio automático', 'Con...",142392.75
69,Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
70,SW4,Motor Diesel V6,1994,23802.0,False,"['Sensor de chuva', 'Bancos de couro', 'Contro...",122485.68
71,Cadillac ELR,Motor 1.0 8v,2007,84992.0,False,"['Sensor crepuscular', 'Travas elétricas', 'Te...",97951.03
72,Doblò,Motor 1.8 16v,1997,54395.0,False,"['Câmera de estacionamento', 'Teto panorâmico'...",78283.49
73,Lamborghini Egoista,Motor 3.0 32v,2006,26731.0,False,"['Rodas de liga', 'Controle de tração', 'Centr...",83434.04
74,Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
75,C5,Motor 2.0 16v,1994,118236.0,False,"['Painel digital', 'Teto panorâmico', 'Piloto ...",60813.92
76,Celer Hatch,Motor V8,2008,113808.0,False,"['Controle de estabilidade', 'Câmbio automátic...",91353.86
77,HB20S,Motor V8,2008,610.0,False,"['Teto panorâmico', 'Rodas de liga', 'Travas e...",116281.21
78,Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
79,Livina,Motor 2.0 16v,2019,NaN,True,"['Sensor crepuscular', 'Câmera de estacionamen...",50742.10
80,Ducato,Motor 5.0 V8 Bi-Turbo,1999,12887.0,False,"['Sensor de chuva', 'Painel digital', 'Sensor ...",73033.53
81,March,Motor V6,2007,79607.0,False,"['Bancos de couro', 'Piloto automático', 'Sens...",54332.87
82,Cadillac XTS sedan,Motor Diesel V6,1993,90924.0,False,"['Ar condicionado', 'Câmbio automático', 'Sens...",52207.45
83,Lamborghini Centenario,Motor V6,1995,42733.0,False,"['Central multimídia', 'Vidros elétricos', 'Se...",63578.50
84,Hilux,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Teto panorâmic...",64507.72
85,Grand Siena,Motor Diesel V8,2019,NaN,True,"['Bancos de couro', 'Painel digital', 'Sensor ...",115075.59
86,Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
87,Aston Martin V12 GT Zagato,Motor 4.0 Turbo,2011,113885.0,False,"['Central multimídia', 'Piloto automático', 'S...",141591.86
88,Fusion,Motor 1.8 16v,2019,NaN,True,"['Controle de tração', 'Câmbio automático', 'F...",100380.28
89,A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
90,Xsara Picasso,Motor 2.0 16v,2013,74867.0,False,"['Sensor de chuva', 'Teto panorâmico', 'Centra...",142603.84
91,207 SW,Motor 3.0 32v,2017,119760.0,False,"['Controle de estabilidade', 'Travas elétricas...",117709.67
92,Star,Motor V6,2016,8356.0,False,"['Câmera de estacionamento', '4 X 4', 'Central...",102241.54
93,Doblò Cargo,Motor 3.0 32v,2008,64247.0,False,"['Freios ABS', 'Teto panorâmico', 'Vidros elét...",96065.38
94,Cadillac CTS,Motor 1.8 16v,2018,88661.0,False,"['Travas elétricas', 'Sensor de chuva', 'Freio...",53894.61
95,Cayenne,Motor 1.0 8v,2003,4539.0,False,"['Controle de tração', 'Piloto automático', 'T...",123911.78
96,Fox,Motor 4.0 Turbo,2003,110116.0,False,"['Piloto automático', 'Câmbio automático', 'Tr...",101996.35
97,Tiida Hatch,Motor Diesel V6,2004,33215.0,False,"['Teto panorâmico', 'Travas elétricas', 'Senso...",83431.66
98,Dodge Charger,Motor 2.4 Turbo,2010,92001.0,False,"['Vidros elétricos', 'Sensor crepuscular', 'Co...",122975.63
99,Face,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Vidros elétricos...",93227.73
100,Prius,Motor 3.0 32v,2006,81708.0,False,"['Rodas de liga', 'Bancos de couro', 'Painel d...",58762.65
101,Idea,Motor V6,2001,70641.0,False,"['Central multimídia', 'Piloto automático', 'T...",139549.67
102,A8,Motor 2.0 16v,2019,NaN,True,"['Painel digital', 'Teto panorâmico', 'Piloto ...",122016.42
103,Série 1 Cabrio,Motor 3.0 32v,2015,91277.0,False,"['Vidros elétricos', 'Travas elétricas', 'Cont...",72731.98
104,Edge,Motor V6,2018,26544.0,False,"['Freios ABS', 'Controle de tração', 'Sensor c...",88416.54
105,Cadillac ATS sedan,Motor 1.8 16v,2017,52596.0,False,"['Painel digital', 'Vidros elétricos', 'Teto p...",73873.42
106,Lamborghini Asterion LPI 910-4,Motor 5.0 V8 Bi-Turbo,1992,47503.0,False,"['Ar condicionado', 'Painel digital', 'Control...",70709.34
107,Frontier,Motor V8,2001,89056.0,False,"['Câmbio automático', 'Rodas de liga', 'Sensor...",115306.50
108,Série 3 Sedã,Motor 3.0 32v,1993,28834.0,False,"['Controle de tração', 'Controle de estabilida...",55924.63
109,Lamborghini LM002,Motor 1.8 16v,1995,110564.0,False,"['Bancos de couro', 'Freios ABS', 'Central mul...",85052.26
110,Cadillac XLR,Motor Diesel V8,2003,56638.0,False,"['Sensor crepuscular', 'Teto panorâmico', 'Sen...",56646.34
111,A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
112,EcoSport,Motor 4.0 Turbo,2008,74015.0,False,"['Piloto automático', 'Sensor de estacionament...",108256.72
113,J3,Motor 1.8 16v,2013,15196.0,False,"['Controle de estabilidade', '4 X 4', 'Câmera ...",58979.30
114,Q3,Motor 3.0 32v,2019,NaN,True,"['Controle de estabilidade', 'Bancos de couro'...",114727.68
115,Aston Martin V8 Vantage,Motor V8,2017,10821.0,False,"['Teto panorâmico', 'Controle de tração', 'Pai...",139661.48
116,Z4 Roadster,Motor 3.0 32v,2019,NaN,True,"['Central multimídia', 'Câmbio automático', 'T...",80382.24
117,Lamborghini Ferruccio,Motor 3.0 32v,2019,NaN,True,"['Vidros elétricos', 'Piloto automático', 'Tet...",149157.17
118,Ford Ka+,Motor 1.8 16v,2006,9595.0,False,"['Sensor crepuscular', 'Piloto automático', 'C...",87830.41
119,Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
120,Classe C 63 AMG Touring,Motor Diesel V8,2007,52389.0,False,"['Central multimídia', 'Piloto automático', 'F...",138171.85
121,Discovery 4,Motor 4.0 Turbo,2005,119945.0,False,"['Freios ABS', 'Rodas de liga', 'Sensor de chu...",115784.95
122,Veloster,Motor Diesel V8,2017,96005.0,False,"['Ar condicionado', 'Central multimídia', 'Ban...",146508.99
123,Classe C,Motor Diesel V6,1998,31639.0,False,"['Freios ABS', 'Sensor de chuva', 'Central mul...",137670.23
124,Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
125,C5 Tourer,Motor Diesel V6,1999,80187.0,False,"['Rodas de liga', 'Sensor de chuva', 'Painel d...",147627.81
126,R8 GT,Motor 4.0 Turbo,2019,NaN,True,"['Rodas de liga', 'Câmbio automático', 'Sensor...",62999.02
127,Bongo,Motor Diesel V8,2009,58212.0,False,"['Vidros elétricos', 'Teto panorâmico', 'Paine...",91242.44
128,ASX,Motor Diesel V8,2003,61672.0,False,"['Ar condicionado', 'Sensor crepuscular', 'Rod...",149489.92
129,Cadillac SRX,Motor 5.0 V8 Bi-Turbo,1994,32017.0,False,"['Painel digital', 'Piloto automático', 'Contr...",63529.95
130,Classe CL,Motor V8,2019,NaN,True,"['Central multimídia', 'Câmbio automático', '4...",58525.41
131,500 Abarth,Motor V6,1994,56944.0,False,"['4 X 4', 'Teto panorâmico', 'Controle de traç...",90345.05
132,Aston Martin Cygnet,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Painel digital', 'Ar condicionado', 'Sensor ...",147770.87
133,Cadillac STS,Motor 4.0 Turbo,2015,86519.0,False,"['Painel digital', 'Bancos de couro', 'Sensor ...",106617.71
134,Aston Martin DB9,Motor 1.8 16v,1996,4821.0,False,"['Ar condicionado', 'Vidros elétricos', '4 X 4...",104929.88
135,NX 200t,Motor 2.4 Turbo,1997,101025.0,False,"['Controle de estabilidade', 'Painel digital',...",100712.45
136,Aston Martin One-77,Motor V6,1993,30705.0,False,"['Sensor de estacionamento', 'Rodas de liga', ...",141982.93
137,Lamborghini Veneno,Motor 3.0 32v,2019,NaN,True,"['4 X 4', 'Sensor de estacionamento', 'Câmbio ...",104038.79
138,Sentra,Motor 2.0 16v,1992,32555.0,False,"['Piloto automático', 'Sensor crepuscular', 'T...",88501.54
139,Jumper,Motor 2.4 Turbo,1995,103389.0,False,"['Ar condicionado', 'Rodas de liga', 'Câmbio a...",79782.02
140,i30,Motor 1.8 16v,2019,NaN,True,"['Câmbio automático', 'Controle de estabilidad...",86224.10
141,X6,Motor Diesel V6,1990,55289.0,False,"['Câmera de estacionamento', 'Travas elétricas...",103596.18
142,Voyage,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Ar condicionado', 'Sensor de estacionamento'...",148996.47
143,Phantom I Phantom II,Motor 1.8 16v,2019,NaN,True,"['Piloto automático', 'Freios ABS', 'Painel di...",60948.01
144,Passat Variant,Motor 1.0 8v,1991,115930.0,False,"['Freios ABS', 'Rodas de liga', 'Piloto automá...",69535.44
145,Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
146,Classe G,Motor Diesel V6,2012,96800.0,False,"['Controle de estabilidade', 'Central multimíd...",65847.69
147,Silver Ghost,Motor 1.8 16v,2007,14237.0,False,"['Travas elétricas', 'Painel digital', 'Câmera...",78096.06
148,Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
149,Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
150,Freelander 2,Motor Diesel V6,2002,114942.0,False,"['4 X 4', 'Câmera de estacionamento', 'Sensor ...",77397.05
151,Grand Cherokee,Motor 5.0 V8 Bi-Turbo,1996,3173.0,False,"['Câmbio automático', 'Travas elétricas', 'Sen...",68974.25
152,Aston Martin DBR9,Motor 4.0 Turbo,1996,83611.0,False,"['Controle de estabilidade', 'Sensor de estaci...",125231.30
153,Soul,Motor 5.0 V8 Bi-Turbo,2015,25356.0,False,"['Sensor crepuscular', 'Piloto automático', 'S...",85501.12
154,Cadillac BLS,Motor V8,1993,88634.0,False,"['Teto panorâmico', 'Controle de estabilidade'...",137116.21
155,RX 350,Motor V6,2013,2314.0,False,"['Piloto automático', 'Sensor crepuscular', 'A...",138823.81
156,Cayman,Motor 3.0 32v,2013,2627.0,False,"['Central multimídia', 'Painel digital', 'Sens...",117961.95
157,Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
158,308 CC,Motor 4.0 Turbo,2019,NaN,True,"['Câmera de estacionamento', 'Bancos de couro'...",146405.79
159,L200 Triton,Motor Diesel V8,2019,NaN,True,"['Vidros elétricos', 'Ar condicionado', 'Paine...",81999.21
160,Jetta,Motor 5.0 V8 Bi-Turbo,2002,79577.0,False,"['Central multimídia', 'Vidros elétricos', 'Câ...",140934.60
161,C4 Lounge,Motor V8,1997,108201.0,False,"['Central multimídia', 'Controle de tração', '...",82366.81
162,C4 Pallas,Motor 1.0 8v,1998,76453.0,False,"['4 X 4', 'Freios ABS', 'Sensor de chuva', 'Ro...",70424.11
163,Equus,Motor 3.0 32v,2004,57683.0,False,"['Travas elétricas', 'Rodas de liga', '4 X 4',...",53620.31
164,Classe GL,Motor 3.0 32v,1996,96610.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Tr...",73389.18
165,Range Rover Evoque,Motor 2.0 16v,2015,109001.0,False,"['Rodas de liga', 'Teto panorâmico', 'Sensor d...",111618.12
166,Cherokee,Motor 4.0 Turbo,2016,26212.0,False,"['Painel digital', 'Travas elétricas', 'Rodas ...",112187.37
167,Punto,Motor 4.0 Turbo,2005,45971.0,False,"['Central multimídia', 'Câmbio automático', 'P...",120812.57
168,Grand Tour,Motor 3.0 32v,1999,49182.0,False,"['Rodas de liga', 'Travas elétricas', 'Bancos ...",116031.04
169,Fluence,Motor Diesel V6,1995,49907.0,False,"['Sensor crepuscular', 'Teto panorâmico', 'Câm...",125398.11
170,Effa Hafei Picape Cabine Simples,Motor 1.0 8v,1993,38620.0,False,"['Piloto automático', 'Ar condicionado', 'Cent...",76101.47
171,Durango,Motor 2.0 16v,2004,60996.0,False,"['Bancos de couro', 'Painel digital', 'Câmbio ...",75263.24
172,Boxster,Motor Diesel V8,2013,73914.0,False,"['Teto panorâmico', 'Sensor crepuscular', 'Ban...",147387.76
173,TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
174,Lamborghini Jalpa,Motor 1.8 16v,2018,9146.0,False,"['Piloto automático', 'Freios ABS', 'Sensor de...",54388.11
175,Classe SLK,Motor 4.0 Turbo,2019,NaN,True,"['4 X 4', 'Sensor de estacionamento', 'Control...",124156.65
176,Golf,Motor 1.0 8v,2018,17924.0,False,"['Rodas de liga', 'Controle de tração', 'Senso...",146203.34
177,C3 Picasso,Motor 3.0 32v,2019,NaN,True,"['Teto panorâmico', 'Sensor crepuscular', 'Sen...",56453.94
178,V50,Motor 2.0 16v,1990,116949.0,False,"['Teto panorâmico', 'Câmera de estacionamento'...",68873.79
179,Picanto,Motor 4.0 Turbo,2009,20476.0,False,"['Painel digital', 'Controle de estabilidade',...",91667.61
180,Cadenza,Motor Diesel V6,1990,52804.0,False,"['Sensor crepuscular', 'Controle de estabilida...",93776.52
181,Etios Sedã,Motor 5.0 V8 Bi-Turbo,2006,8849.0,False,"['Ar condicionado', 'Vidros elétricos', 'Senso...",66433.82
182,Alsvin,Motor Diesel V8,2002,91724.0,False,"['Central multimídia', 'Controle de estabilida...",109059.27
183,Cadillac ATS,Motor Diesel V6,1991,32056.0,False,"['Piloto automático', 'Rodas de liga', '4 X 4'...",122069.97

In [20]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [22]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [24]:
()

()

In [25]:
1, 2, 3

(1, 2, 3)

In [26]:
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [27]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [29]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [30]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [31]:
nomes_carros[0]

'Jetta Variant'

In [32]:
nomes_carros[1]

'Passat'

In [33]:
nomes_carros[-1]

'DS5'

In [34]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [35]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [36]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [37]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [38]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [40]:
for item in nomes_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [41]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [42]:
carro_1, carro_2, carro_3, carro_4, = nomes_carros

In [43]:
carro_1

'Jetta Variant'

In [44]:
carro_2

'Passat'

In [45]:
carro_3

'Crossfox'

In [47]:
carro_4

'DS5'

In [48]:
_, A, _, B = nomes_carros

In [50]:
A

'Passat'

In [51]:
B

'DS5'

In [52]:
_, C, *_ = nomes_carros

In [53]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [54]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [55]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [57]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [58]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [59]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [60]:
for carro, valor in zip(carros, valores):
    if valor > 100000:
        print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [1]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [2]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [3]:
carros.index('Passat')

1

In [4]:
valores[carros.index('Passat')]

106161.94

In [5]:
dados = {'Jetta Varian': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Varian': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [6]:
type(dados)

dict

### Criando dicionários com *zip()*

In [7]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [9]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [11]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [14]:
'Passat' in dados

True

In [15]:
'Fusca' in dados

False

In [16]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [17]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [18]:
dados['DS5'] = 124549.07

In [19]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [20]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [21]:
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [22]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [24]:
dados.update({'Passat': 106161.94})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [25]:
dados.update({'Passat': 106161.95, 'Fusca': 150000})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [26]:
dadosCopy = dados.copy()

In [27]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

In [28]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [29]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [31]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [32]:
dadosCopy.pop('Passat')

106161.95

In [33]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [34]:
dadosCopy.pop('Passar', 'Chave nao encontrada')

'Chave nao encontrada'

In [35]:
dadosCopy.pop('DS5', 'Chave nao encontrada')

124549.07

In [36]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Remove todos os itens do dicionário.

In [38]:
dadosCopy.clear()

In [39]:
dadosCopy

{}

# 3.4 Iterando em dicionários

In [40]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 88078.64, 'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 88078.64,
 'Passat': 106161.95}

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [41]:
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Passat'])

In [42]:
for key in dados.keys():
    print(dados[key])

72832.16
124549.07
88078.64
106161.95

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [43]:
dados.values()

dict_values([72832.16, 124549.07, 88078.64, 106161.95])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [44]:
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 88078.64), ('Passat', 106161.95)])

In [45]:
for item in dados.items():
    print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 88078.64)
('Passat', 106161.95)

In [46]:
for key, value in dados.items():
    print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 88078.64
Passat 106161.95

In [47]:
for key, value in dados.items():
    if value > 100000:
        print(key)

DS5
Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [48]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [49]:
valores = []
for valor in dados.values():
    valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [50]:
soma = 0
for valor in dados.values():
    soma += valor
soma

267072.74

In [51]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [54]:
sum(dados.values())

267072.74

In [55]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [56]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [59]:
def media():
    valor = (1 + 2 + 3) / 3
    print(valor)

In [60]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [61]:
def media(number_1, number_2, number_3):
    valor = (number_1 + number_2 + number_3) / 3
    print(valor)

In [62]:
media(1, 2 , 4)

2.3333333333333335

In [63]:
media(23, 45, 67)

45.0

In [65]:
def media(lista):
    valor = sum(lista) / len(lista)
    print(valor)

In [69]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

5.0

In [70]:
resultado

In [71]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [72]:
def media(lista):
    valor = sum(lista) / len(lista)
    return valor

In [73]:
media([1, 2, 3, 4, 5, 6, 7, 8])

4.5

In [74]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8])

In [75]:
resultado

4.5

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [76]:
def media(lista):
    valor = sum(lista) / len(lista)
    return (valor, len(lista))

In [78]:
media([1, 2, 3, 4, 5, 6, 7, 8, 9])

(5.0, 9)

In [79]:
resultado, n = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
resultado

5.0

In [81]:
n

9

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [82]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [83]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [84]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [85]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [86]:
dataset = pd.DataFrame(dados)

In [87]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [90]:
dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [91]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [92]:
dataset = pd.DataFrame(dados)

In [93]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [100]:
dataset = pd.read_csv('./data/db.csv', sep = ';', index_col = 0)

In [101]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

# 5.2 Seleções com DataFrames

In [102]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

### Selecionando colunas

In [103]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [104]:
type(dataset['Valor'])

pandas.core.series.Series

In [105]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [106]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [107]:
dataset[0:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [109]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [110]:
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [111]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [112]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [115]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [114]:
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [116]:
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [117]:
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [118]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [119]:
dataset.iloc[:, [0, 5, 2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

# 5.3 Queries com DataFrames

In [120]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [121]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [123]:
select = dataset == 'Motor Diesel'

In [126]:
type(select)

pandas.core.frame.DataFrame

In [127]:
dataset[select]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,NaN,NaN,NaN,NaN,NaN,NaN
Passat,Motor Diesel,NaN,NaN,NaN,NaN,NaN
Crossfox,NaN,NaN,NaN,NaN,NaN,NaN
DS5,NaN,NaN,NaN,NaN,NaN,NaN
Aston Martin DB4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
Phantom 2013,NaN,NaN,NaN,NaN,NaN,NaN
Cadillac Ciel concept,NaN,NaN,NaN,NaN,NaN,NaN
Classe GLK,NaN,NaN,NaN,NaN,NaN,NaN
Aston Martin DB5,Motor Diesel,NaN,NaN,NaN,NaN,NaN
Macan,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [131]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

### Utilizando o método query

In [132]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.4 Iterando com DataFrames

In [133]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [134]:
for item in dataset:
    print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [141]:
for index, row in dataset.iterrows():
    if 2019 - row['Ano'] != 0:
        dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
    else:
        dataset.loc[index, 'Km_media'] = 0
        
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

# 5.5 Tratamento de dados

In [142]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [143]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [144]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [145]:
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [148]:
dataset.fillna(0, inplace = True)

In [150]:
dataset.query("Zero_km == True")

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [157]:
dataset = pd.read_csv('./data/db.csv', sep = ';')

In [158]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [159]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [160]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47